a{
    text-decoration: none;
    transition-duration: 0.3s;

}

.botao-enviar-adm{
    width: 230px;
    height: 40px;
    border-radius: 20px;
    background-color: transparent;
    color: white;
    transition: all 0.3s;
    padding: 10px;
    opacity: 0.7;

}

.botao-enviar-adm:hover{
    background-color:rgba(3, 223, 87, 0.644);
    transition: all 0.3s;
    width: 250px;
    opacity: 1;

}

.bloco-show-users{
    margin: auto;
    max-width: 600px;
    min-width: 250px;
    margin-top: 10px;
    border-radius: 15px;
    background-color: rgba(216, 216, 216, 0.5);
    padding: 30px;
    color: rgb(0, 0, 0);
}

.bloco-estatisticas-dashboard{
    margin: auto;
    border: 2px solid rgb(255, 0, 0);
    padding: 10px;
    background: rgba(255, 255, 255, 0.582);
    border-radius: 20px;
}

.titulo-adm{
    border-radius: 20px;
    text-align: center;
    background-color: rgb(70, 70, 70);
    padding: 10px;
    color: white;
    border: 2px solid rgb(226, 226, 226);

}

.titulo-adm h3{
    margin-top: 10px;
}

.titulo_orders{
    border: 2px solid rgb(141, 141, 141);
    border-radius: 20px;
    text-align: center;
    background-color: antiquewhite;
    padding: 10px;
}

.pedidos_geral{
    margin: 10px;
}

.bloco_produtos_adm{
    border: 2px solid red;
    margin: 10px;
    padding: 10px;
}

.bloco-conteudo-itens{
    background-color: rgba(255, 166, 0, 0.466);
    padding: 5px;
    border-radius: 10px;
}

.pedido_numero{
    border: 2px solid rgb(141, 141, 141);
    border-radius: 20px;
    padding: 5px;
    margin: 5px;
    text-align: center;
}

.formulario_adm{
    max-width: 400px;
    align-items: center;
    justify-content: center;
    margin: auto;
    display: flex;
    border: 2px solid rgba(104, 104, 103, 0.76);
    border-radius: 10px;

}

.status_adm{
    text-align: center;
}

.page-item{
    background-color: white;
    width: 70px;
    height: 20px;
    border-radius: 10px;
    padding: 8px;
    color: rgb(100, 100, 100);
    font-weight: bold;
}

.page-item:hover{
    background-color: red;
    color: rgb(255, 255, 255);
    width: 70px;
    height: 20px;
}

a:hover{
    text-decoration: none;
}

.page-atual{
    background-color: gray;
    width: 70px;
    height: 20px;
    border-radius: 10px;
    margin-right: 3px;
    padding: 8px;
    font-weight: bold;

}

.page-item a{
    text-decoration: none;
    transition-duration: 0.3s;

}

.body-adm{
    max-width: 600px;
    margin: auto;
}

.body-adm h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.bloco-dashboard{
    border: 2px solid rgba(75, 75, 75, 0.685);
    border-radius: 10px;
    
}

.box-form-dash{
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.288);
    color: white;
    padding: 50px;
}



.botao-procurar-usuarios{
    width: 100px;
    padding: 5px;
    background-color: purple;
    color: white;
    margin: auto;
    border-radius: 10px;
    transition-duration: 0.3s;

}

.botao-procurar-usuarios:hover{
    padding: 5px;
    background-color: green;
    color: white;
    transition-duration: 0.3s;

}

.bloco-listagem-usuarios-dashuser{
    max-width: 600px;
    margin: auto;
    background: rgba(255, 255, 255, 0.452);
    padding: 10px;
    border-radius: 10px;

}

.bloco-listagem-usuarios-dashuser td{
    color: green;
}

@media (max-width: 760px){
    .body-adm{
        margin: 10px;
    }

    .bloco-listagem-usuarios-dashuser{
        margin: 5px;
    }
}

.bloco_produtos_adm{
    border: 2px solid red;
    margin: 10px;
    padding: 10px;
}

.info-status{
    text-align: center;
    border-radius: 10px;
    padding: 10px;
}



.bloco-dashboard{
    padding: 10px;
    margin:5px;
    transition: .5s;

}

a {
    text-decoration: none
}


