
.bloco-login{
    margin: auto;
    max-width: 600px;
    min-width: 250px;
    margin-top: 10px;
    border-radius: 15px;
    background-color: rgba(56, 0, 70, 0.5);
    padding: 10px;
    color: white;

}

.invalid-feedback{
    border: 2px solid red;
    border-radius: 10px;
    padding: 5px;
    background-color: antiquewhite;

}


.titulo-login{
    border: 2px solid rgb(141, 141, 141);
    border-radius: 20px;
    text-align: center;
    background-color: antiquewhite;
    padding: 10px;
    color: black;
}

.botao-enviar{
    width: 230px;
    height: 40px;
    border-radius: 20px;
    background-color: transparent;
    color: white;
    transition: all 0.3s;
    padding: 10px;
    opacity: 0.7;

}

.botao-enviar:hover{
    background-color:rgba(3, 223, 87, 0.644);
    transition: all 0.3s;
    width: 250px;
    opacity: 1;

}

.botao-registrar{
    width: 230px;
    height: 40px;
    border-radius: 20px;
    background-color: transparent;
    color: white;
    transition: all 0.3s;
    padding: 10px;
    opacity: 0.7;
}

.botao-registrar:hover{
    background-color:rgba(3, 161, 223, 0.507);
    transition: all 0.3s;
    width: 250px;
    opacity: 1;

}

.botao-esqueci-senha{
    width: 230px;
    height: 40px;
    border-radius: 20px;
    background-color: transparent;
    color: white;
    transition: all 0.3s;
    padding: 10px;
    opacity: 0.7;
}

.botao-esqueci-senha:hover{
    background-color:rgba(223, 3, 3, 0.644);
    transition: all 0.3s;
    width: 250px;
    opacity: 1;

}

.botao-limpar-dados{
    width: 230px;
    height: 40px;
    border-radius: 20px;
    background-color: transparent;
    color: white;
    transition: all 0.3s;
    padding: 10px;
    opacity: 0.7;
}

.botao-limpar-dados:hover{
    background-color:rgba(177, 177, 177, 0.644);
    transition: all 0.3s;
    width: 250px;
    opacity: 1;

}

.box-alert-recouver-pass{
    background: white;
    max-width: 600px;
    min-width: 250px;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
}

@media (max-width: 650px)
{

   .bloco-login
   {
    margin: auto;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    padding: 10px;
   }

   .titulo-login{
    margin-top: 30px;
    } 

}